 


@media screen and (max-width: 576px) {
    .nav-bar{
        
        flex-direction: column;
        justify-items: center;
        text-align: center;
        gap: 15px;
    }

    .count-sec{
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        
    }

    .hero-sec{
        width: 100%;
        flex-direction: column;
        text-align: center;
        gap: 15px;
    }
    

    .main-sec{
        width: 100%;
        flex-direction: column;
        gap: 0;
    }
    .card-section{
        
        
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin: auto;
    }

    .history-sec{
        width: 100%;
        margin-top: 20px;
    }

    }
    
    #call-history {
        padding: 0;
        margin: 0;
        list-style: none;
    }
    
    #call-history li {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 0.75rem;
    }
    
    #call-history li .call-time {
        white-space: nowrap;
        display: inline-block;
    }